@font-face {
  font-family: "Outfit";
  src: url(fonts/Outfit-VariableFont_wght.ttf);
}

body {
  font-family: "Outfit";
  font-size: 18px;
  font-weight: 300;

  color: hsl(215, 51%, 70%);
  background-color: hsl(217, 54%, 11%);
  margin: 0 25px;
}

hr {
  border-color: hsl(215, 32%, 27%);
  margin: 20px 0;
}

main.card {
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;

  max-width: 325px;
  margin: auto;
  margin-top: 16vh;

  padding: 25px;
}

.header img {
  position: relative;
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  background: rgba(0, 255, 247, 0);
  opacity: 0;
  width: 325px;
  border-radius: 10px;

  top: 53.25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  transition: 0.2s linear;
}
.overlay img {
  padding: 137px;
  width: 50px;
}

.overlay img:hover,
.overlay:hover {
  background: rgba(0, 255, 247, 0.5);
  opacity: 1;
}

.header h1 {
  color: white;
  font-weight: 600;
  font-size: 24px;

  margin: 20px 0;
}

.header h1:hover {
  color: hsl(178, 100%, 50%);
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 25px 0;
}

.stats span {
  margin-left: 6px;
}

.price {
  display: flex;
  align-items: center;
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.time {
  display: flex;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
}

.author img {
  border-radius: 180px;
  border: 1px solid white;

  width: 30px;
}

.author span {
  margin-left: 15px;
}

.author span em {
  font-style: normal;
  color: white;
}

.author span em:hover {
  color: hsl(178, 100%, 50%);
}

.attribution {
  margin-top: 15px;
}
